.idea
*.iml
target/
glove.6B/
similarity-service/glove.6B.zip
*glove*.txt
ui/src/client/credentials.json
backend/credentials.json
backend/mongo/data/*
backend/mongo/logs/*
backend/node_modules/*
botfred/botkit/*
botfred/node_modules/*
botfred/credentials.json
