.comment-list-container {
    padding: 16px;
    display: block;
    clear: both;
}

.comment-container {
    margin: 16px 0;
    padding: 16px;
}

.comment-time {
    text-align: right;
    color: #999;
    font-size: 12px;
    line-height: 1.5;
}
