.sentiment-score-container {
    margin: 8px;
}

.sentiment-score-text {
    margin: 8px;
    font-weight: bold;
    line-height: 2;
    font-size: 14px;
    font-style: italic;
}

.sentiment-score {

}

.sentiment-bar-outer {
    width: 320px;
    height: 24px;
    background-color: #ececec;
    position: relative;
    display: inline-block;
    margin: 0 8px;
}

.sentiment-bar-inner {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 24px;
}

.bar-element {
    line-height: 24px;
    font-size: 24px;
}
