.similar-images-container {
    margin: 8px;
}

.similar-images {
    overflow-y: hidden;
    overflow-x: scroll;
    height: 180px;
    width: auto;
    white-space: nowrap;
    margin: 0 8px;
}

.similar-image {
    height: 180px;
    margin: 0 8px;
    width: 320px;
    display: inline-block;
    background-position: center;
    background-size: cover;
}
.similar-image:hover {
    cursor: pointer;
}
