.main-container {
    display: block;
    width: 100%;
    height: 100%;
}

.image-cards-container {
    width: 50%;
    margin: 72px auto 0;
}

@media screen and (max-width: 720px) {
    .image-cards-container {
        width: 100%;
        margin: 72px 16px;
    }
}
